
<div class="col-md-4" ></div>
<div *ngIf="loggedIn">
  <div class="col-4">
    <app-dataconverter></app-dataconverter>
  </div>
</div>
<div class="center">
  <div class="col-md-4" style="vertical-align: top;height:100%;">
    <div *ngIf="!loggedIn">
      <div class="topLine"></div>
      <form class="formSignin">
        <h2 class="form-signin-heading">PLEAAAAAASE sign in</h2>
        <hr>
        <input type="email" #email id="inputEmail" class="form-control" placeholder="Email address" style="margin-bottom:5px;"required="" autofocus="">
        <input type="password" #password id="inputPassword" class="form-control" placeholder="Password" required="">
        <div class="checkbox">
        </div>
        <div style="float:right">
          <button class="btn btn-primary" style="width:200px;" (click)="loginFunc(email.value,password.value)">Sign in</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="col-md-4"></div>
