<div id="pagediv">
  <div class="row" >
    <div class="col-md-12">
      <h1>Json Converter</h1>
      <textarea rows="25" readonly style="width:98%;margin-right:15px;resize: none;background-color:#404040;color:white;">De Json.
      </textarea>
    </div>
    <div class="w-100"></div>
    <form>
      <div class="col-md-6" >
        <label>Name:</label><br/>
        <input type="text" #name name="Name" class="form-control" placeholder="how is name defined in json"><br>
        <label>TimeStamp:</label><br/>
        <input type="text" #time class="form-control" name="Time" placeholder="how is time defined in json"><br>
        <label>Energy:</label><br/>
        <input type="text" #energy class="form-control" name="Energy" placeholder="how is energy defined in json"><br>
        <label>Alert:</label><br/>
        <input type="text" #alert class="form-control" name="Alert" placeholder="how are alerts defined in json"><br>
      </div>
      <div class="col-md-6">
        <button class="btn btn-primary" style="width:96%;height:15vh;margin-bottom:5px;">Convert</button>
        <button class="btn btn-primary" style="width:96%;height:15vh;">Show Data</button>
      </div>
    </form>
  </div>
</div>
